@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ebecf0;
}

.bgColor {
  background-color: #ebecf0;
}

.underlinedText {
  text-decoration-line: underline;
  text-decoration-color: rgb(251 146 60);
}
