@tailwind base;
@tailwind components;
@tailwind utilities;


details summary {
  cursor: pointer;
  transition: margin 150ms ease-out;
}

details[open] summary {
  margin-bottom: 3px;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}