@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/Carousel.css */
.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
